.message {
  display: flex;
  margin-bottom: 30px;
}

.message > img {
  margin-right: 68px;
}

@media (max-width: 1000px) {
  .message > img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 850px) {
  .message > img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 700px) {
  .message {
    img {
      width: 60px;
      height: 60px;
    }
  }
}

@media (max-width: 605px) {
  .message {
    margin: 0 auto;
    .bot {
     display: none;
    }
  }
}